body {
    margin: 0;
    font-size: 17px;
}

button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

#root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.app {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 0 20px;
    background-color: #f2f2f2;
}

.left,
.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 45px;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

.info {
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 700;
}

.action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    min-width: 36px;
    margin: 0 5px;
    cursor: pointer;
}

.upload-file {
    display: none;
}

.main {
    position: relative;
    width: 100%;
    height: calc(100% - 55px);
    background-color: #fff;
}

.image-container {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.image-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
}

.image-wrapper.left-image {
    justify-content: flex-end;
    cursor:
        url(/assets/arrowtriangle.left.fill.svg) 30 30,
        auto;
}

.image-wrapper.right-image {
    justify-content: flex-start;
    cursor:
        url(/assets/arrowtriangle.right.fill.svg) 30 30,
        auto;
}

.image-wrapper img {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    object-fit: contain;
}
